<!-- Since home.html, about.html have same code for title section
make same title section here and inherit to them.
If they inherit from layout they can still have their unique data,
anything inside block will be overwritten by child.
-->
<!DOCTYPE html>
<html>
    <head>
        <!-- Shared by both home.html, about.html -->  
        
        {% if title %}
            <title>{{ title }}</title>
        {% else %} 
            <title>Flask Blog</title>
        {% endif %}
    </head>


    <body>
        <div>
        {% block content %}{% endblock %}
        </div>  
    </body>
</html>